<div class='container'>
   <div class='row row-cols-3'>
      {{#each data}}
         <div class='col record p-3'>
            <div class='record-container d-flex flex-column align-items-center'>
               <img src='{{images.0.url}}' alt='{{name}}' onerror="this.src='images/no_image.png';" />
               <div class='record-name align-self-start mx-2 mt-1 mb-2'>{{name}}</div>
               <a href='/albums/{{id}}'><div class='btn btn-sm btn-danger mb-2'>View Albums</div></a>
            </div>
         </div>
      {{/each}}
   </div>
</div>
