<!--
#######################################
## Iteration 3: Search for an Artist ##
####################################### -->

<div class='container-fluid background'>
   <div class='search-container p-5'>
      <form action='/artist-search' class='mx-5 mt-3 mb-2'>
         <input id='input-artist-search' size='45' type='text' name='artist' />
         <button class='btn btn-danger btn-search'>Search for an Artist</button>
      </form>
   </div>
</div>
